body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(15,91,113);
  background: linear-gradient(90deg, rgba(15,91,113,1) 0%, rgba(74,56,189,1) 26%, rgba(0,119,221,1) 100%);
}
